@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


/* ##################### html element styling ####################### */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
}

p, li{
    font-size: 1.6rem;
    margin-top:0.5em ;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1 h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}


/* ################## UTILITY CLASSES ######################### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.2rem;
    font-weight: 600;
}
.md-heading{
    font-size: 2rem;
}
.text-white{
    color: white;
}

.text-pink{
    color:#d88593;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0.5em 0;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-primary{
    background-color: white;
    border-radius:100px;
}




/* ####################Header styling############################## */
.header{
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url("../img/header-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    padding: 1rem;
}
.navbar .logo , .navbar .navitems, a{
    color:white;
}

.navbar .logo{
    float:left;
    margin-top: 1rem;
}
.navbar .navitems{
    float: right;
    margin-top: 1rem;
}

.navbar .navitems .item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link
.navbar a:visited{
    color:white;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}
.navbar::after{
    content:'';
    display:block;
    clear:both;
}

/* ################### header content styling ######################### */

.header-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom:1em ;
}
.header-content p{
    text-transform: uppercase;
    margin-bottom:1.5em ;
}

/* ################### Showcase section styling ########################## */

.showcase{
    background:#ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    border:2px solid red;
}

.row1{
    margin-bottom:10rem;
}
.row1 .img-box, .row2 .text-box{
    float:left;
    width:50%;
}
.row2 .img-box, .row1 .text-box{
    float:right;
    width:50%;
}

.row .img-box{
    border:5px solid green;
    height: 100%;
}
.row .text-box{
    border:5px solid purple;
    padding: 3rem;
}

.row .img-box img{
    display:inline-block;
    width:100%;
    height: 100%;
}